[Desktop Entry]
Version=0.1.0
Name=Qwertickle
GenericName=A typewriter sound scheme for your keyboard
Comment=A typewriter sound scheme for your keyboard
Exec=qwertickle
Icon=qwertickle
Terminal=false
Type=Application
Categories=Audio;
